---
title: bye-google — Homelab
theme: dark
color: slate
headerStyle: clean
layout:
  Dé-Google:
    style: row
    columns: 3
  Infra:
    style: row
    columns: 3
  Apps & Sécurité:
    style: row
    columns: 3
